@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Mont';
    src: url('Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'supreme';
    src: url('fonts/Futura-Medium.ttf') format('truetype');
}

h1 {
    font-family: 'Bebas Neue';
    text-align: center;
}